.card__image {
  height: 282px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 25px;
}

.card__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.card__text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__heart {
  background: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  height: 18px;
  width: 21px;
  margin-left: auto;
}

.card__heart-margin {
  margin-right: 20px;
}

.card__heart:hover {
  cursor: pointer;
  opacity: 0.5;
}
