.card {
  background-color: #fff;
  width: 282px;
  color: #000;
  border-radius: 10px;
  position: relative;
  max-height:364.65px;
}

.card__image {
  height: 282px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 25px;
}

.card__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.card__text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__trashcan-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
 border: none;
 position: absolute;
 right: 18px;
 top:15px;
 background-color: transparent;
}
.card__trashcan-btn:hover{
  cursor: pointer;
  opacity: 0.6;
}

.card__top-bin{
 width:18px;
 height: 4.49px;
 background: url(../images/trashcanIcon.svg);
 background-repeat: no-repeat;
 background-size:contain;
}

.card__lower-bin{
  width: 15.44px;
  height: 13.51px;
 background: url(../images/trashIconlowerpart.svg);
 background-repeat: no-repeat;
 background-size:contain;
}

.card__heart {
  background: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 18px;
  width: 21px;
  margin-left: auto;
  margin-right: 20px;
}

.card__heart_active{
 background:url(../images/Activeheart.svg);
}

.card__heart:hover {
  cursor: pointer;
  opacity: 0.5;
}
