.header__logo {
  margin:0;
  width: 241px;
  height: 38px;
  padding-bottom: 41px;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media screen and (max-width: 1279px) {
  .header__logo {
    width: 126px;
    padding-bottom: 32px;
    padding-top: 28px;
    padding-left: 27px;
  }
}
