.header__logo {
  width: 241px;
  height: 38px;
}

.header {
  height: 74px;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
}

.header__divider {
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  flex-grow: 0.95;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
    padding-top: 28px;
    padding-left: 27px;
  }
}
