.lowheader {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.lowheader__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 18px;
}

.lowheader__textcontainer {
  display: flex;
}

.lowheader__span {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 21.78px;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lowheader__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.lowheader__img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.lowheader__editbutton {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  background: url(../images/Edit\ Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-top: 15px;
}

.lowheader__editbutton:hover {
  cursor: pointer;
  opacity: 0.6;
}

.lowheader__plusbutton {
  margin-left: auto;
  align-self: center;
  height: 50px;
  width: 150px;
  background-color: transparent;
  background: url(../images/bigplusign.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.lowheader__plusbutton:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1279px) {
  .lowheader {
    flex-direction: column;
    padding-top: 42px;
  }

  .lowheader__textcontainer {
    padding: 0;
    margin: 0;
  }

  .lowheader__title {
    font-size: 22px;
    padding: 0;
    line-height: 26.63px;
    max-width: 198px;
  }

  .lowheader__span {
    line-height: 16.94px;
    padding-top: 14px;
    font-size: 14px;
    max-width: 80px;
    margin: 0 auto;
  }

  .lowheader__inner {
    padding-top: 30px;
    padding-left: 0px;
    justify-content: center;
    margin: 0 auto;
  }

  .lowheader__editbutton {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 10px;
  }

  .lowheader__plusbutton {
    margin: 0 auto;
    align-self: center;
    width: 282px;
    margin-top: 36px;
  }

  .lowheader__plusicon {
    height: 16px;
    width: 16px;
  }
}
