.thepage {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 45px 200px 60px;
}

@media screen and (max-width: /*919px*/ 879px) {
  .thepage {
    padding: 0;
  }
}

.thepage__container {
  min-width:880px;
}

@media screen and (max-width: 879px) {
  .thepage__container {
    min-width:auto;
    width: 100%; /*use percetanges when dealing with phone views always relative to the div as opposed to the screen itself*/
  }
}
