.page{
    background-color:#000;
    color:#fff;
    display: flex;
    justify-content: center;
    padding:45px 200px 60px;
}
.page__container{
 max-width: 880px;
}

.header__container{
    display: flex;
    align-items: center;
    padding-top:40px;
}
.header__logo{
 width: 173px;
 height: 33px;
 padding-bottom: 41px;
}
.header__hr{
background-color: #545454;
}
.header__title{
    margin: 0;
    padding-right: 16px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 415px;
    height: 77px;
    padding-left: 30px;
    padding-right: 25px;
}
.header__span{
   margin:0;
   padding:0; 
   display: block;
   font-size: 18px;
   font-weight: 400;
   line-height: 21.78px;
}
.header__inner{
  display: flex;
  align-items:flex-start;
  margin:0;
  padding:0;
}
.header__img{
    height:120px ;
    width:120px ;
}
.header__editicon{
    height:24px;
    width:24px; 
}
.header__editbutton{
    margin:0;
    padding:0;
    height:24px;
    width:24px;
    background-color:transparent;
    border: none;
    position:relative;
    top:15px
}
.header__editbutton:hover{
 cursor:pointer;
 opacity: .5;
}

.header__plusbutton{
    margin-left: auto;
    align-self: center;
    height:50px;
    width:150px;
    background-color:transparent;
}
.header__plusbutton:hover{
  cursor:pointer;
  opacity: .5;
}
.header__plusicon{
    height:22px;
    width:22px; 
}

.gallery{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 51px;
 padding-bottom:67px;
 gap:17px;
}
.gallery__card{
   background-color: #fff;
   height: 361px;
   width: 282px;
   color:#000;
   border-radius: 10px;
}
.card__image{
    height: 282px;
    width:100%;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     padding-bottom: 25px;
}
.card__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__text{
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    padding-left:20px;
     padding-bottom: 25px;
}

.card__heart{
    height: 18px;
    width: 21px;
    margin-left: auto;
    padding-right:20px;
    padding-bottom: 25px;
}
.card__heart:hover{
    cursor: pointer;
    opacity: .5;
}

.footer{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color:#545454;
}
.footer__paragraph{
    margin:0
}
@media screen and (max-width:1124px) {
.page{
    padding:0;
}
.page__container{
 min-width: 320px;
}

.header__container{
    flex-direction: column;
    padding-top:42px;
}
.header__logo{
 width: 126px;
 height: 24px;
 padding-bottom:32px;
 padding-top:28px;
 padding-left:27px;
}

.header__title{
    padding-right: 10px;
    font-size: 22px;
    line-height: 26.63px;
    max-width: 196px;
    height: 50px;
    padding-left: 30px;
    padding-right: 25px;
    text-align: center;
}
.header__span{
   font-size: 14px;
   line-height: 16.94px;
   padding-top: 14px;
}
.header__inner{  
  padding-top: 30px;
}

.header__editicon{
    height:18px;
    width:18px; 
}
.header__editbutton{
    height:18px;
    width:18px;
    top:5px;
}


.header__plusbutton{
    margin:0 auto;
    margin-top:36px ;
    align-self: center;
    width:282px;
}

.header__plusicon{
    height:16px;
    width:16px; 
}

.footer{
    font-size: 14px;
    line-height: 16.94px;
    padding-left: 19px;
    padding-bottom:36px;
}
  
}